@import "tailwindcss";

@source inline("bg-theme-tomato-transparent");

@theme {
  --color-theme-tomato: hsl(4, 100%, 67%);
  --color-theme-tomato-transparent: hsla(4, 100%, 67%, 0.2);
  --color-theme-dark-slate-gray: hsl(234, 29%, 20%);
  --color-theme-charcoal-gray: hsl(235, 18%, 26%);
  --color-theme-gray: hsl(231, 7%, 60%);
  --color-theme-white: hsl(0, 0%, 100%);

  --font-roboto: Roboto, sans-serif;
}
