---
import MainLayout from "@/layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";

import success from "@/assets/icon-success.svg";
const email: string = "ash@loremcompany.com";
---

<MainLayout title="Frontend Mentor | Newsletter Sign Up">
  <div
    class="h-[810px] w-[375px] bg-sad-white md:flex md:h-[510px] md:w-[500px] md:rounded-[2.5rem]"
  >
    <div class="mx-6 mt-36 md:mx-12 md:my-12">
      <Image src={success} alt={"Success!"} loading={"eager"} class="mb-8" />
      <section>
        <h1
          class="mb-6 text-[2.5rem] font-bold leading-none text-sad-dark-slate-grey md:text-[3.5rem]"
        >
          Thanks for subscribing!
        </h1>
        <p class="mb-[17.3rem] text-sad-dark-slate-grey md:mb-12">
          A confirmation email has been sent to <span class="font-bold"
            >{email}</span
          >. Please open it and click the button inside to confirm your
          subscription
        </p>
        <button
          class="h-14 w-full rounded-lg border bg-sad-dark-slate-grey text-sad-white hover:border-sad-tomato hover:bg-sad-tomato hover:text-sad-white hover:shadow hover:shadow-sad-tomato"
          >Dismiss message</button
        >
      </section>
    </div>
  </div>
</MainLayout>
