---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="Frontend Mentor | Newsletter Sign Up"
  description="A newsletter sign up challenge from Frontend Mentor."
>
  <main class="flex min-h-screen items-center justify-center">
    <div
      class="h-210 w-93.75 bg-theme-white md:flex md:h-160 md:w-230 md:flex-row-reverse md:items-center md:justify-center md:gap-4 md:rounded-[2.5rem]"
      id="signup"
    >
      <div class="md:w-1/2">
        <img src="/illustration-sign-up-mobile.svg" alt="Sign Up" class="md:hidden" />
        <img src="/illustration-sign-up-desktop.svg" alt="Sign Up" class="hidden md:block" />
      </div>
      <section class="mx-7 my-7 md:w-1/2 md:px-8">
        <h1 class="mb-3 text-[2.5rem] font-bold text-theme-dark-slate-gray md:text-[3.5rem]">
          Stay updated!
        </h1>
        <p class="mb-7 text-theme-dark-slate-gray">
          Join 60,000+ product managers receiving monthly updates on:
        </p>
        <div class="items-top mb-10 grid grid-cols-[10%_90%] gap-2 text-theme-dark-slate-gray">
          <img src="/icon-list.svg" alt="Checkmark" />
          <p>Product discovery and building what matters</p>
          <img src="/icon-list.svg" alt="Checkmark" />
          <p>Measuring to ensure updates are a success</p>
          <img src="/icon-list.svg" alt="Checkmark" />
          <p>And much more!</p>
        </div>
        <form novalidate id="form">
          <div class="mb-6 flex flex-col">
            <div class="flex justify-between">
              <label for="email" class="mb-3 text-xs font-bold text-theme-dark-slate-gray"
                >Email address</label
              >
              <label
                id="errormessage"
                for="email"
                class="mb-3 hidden text-xs font-bold text-theme-tomato">Valid email required</label
              >
            </div>
            <input
              id="email"
              type="email"
              name="email"
              class="h-14 rounded-lg border border-gray-300 px-6 py-4 text-theme-gray"
              placeholder="email@company.com"
              autocomplete="off"
            />
          </div>
          <button
            type="submit"
            class="h-14 w-full rounded-lg border bg-theme-dark-slate-gray text-theme-white hover:border-none hover:bg-linear-to-l hover:from-theme-tomato hover:to-rose-400 hover:text-theme-white hover:shadow-lg hover:shadow-rose-300"
            >Subscribe to monthly newsletter</button
          >
        </form>
      </section>
    </div>
    <div
      class="hidden h-202.5 w-93.75 bg-theme-white md:h-127.5 md:w-125 md:rounded-[2.5rem]"
      id="confirmation"
    >
      <div class="mx-6 mt-36 md:mx-12 md:my-12">
        <img src="/icon-success.svg" alt="Success!" class="mb-8" />
        <section>
          <h2
            class="mb-6 text-[2.5rem] leading-none font-bold text-theme-dark-slate-gray md:text-[3.5rem]"
          >
            Thanks for subscribing!
          </h2>
          <p class="mb-[17.3rem] text-theme-dark-slate-gray md:mb-12">
            A confirmation email has been sent to <span id="emailresponse" class="font-bold"
            ></span>. Please open it and click the button inside to confirm your subscription
          </p>
          <button
            type="button"
            id="dismiss"
            class="h-14 w-full rounded-lg border bg-theme-dark-slate-gray text-theme-white hover:border-none hover:bg-linear-to-l hover:from-theme-tomato hover:to-rose-400 hover:text-theme-white hover:shadow-lg hover:shadow-rose-300"
            >Dismiss message</button
          >
        </section>
      </div>
    </div>
  </main>
</MainLayout>

<script>
  import { actions } from "astro:actions";

  let errorState: boolean = false;

  const form = document.getElementById("form") as HTMLFormElement;
  const errorLabel = document.getElementById("errormessage") as HTMLLabelElement;
  const email = document.getElementById("email") as HTMLInputElement;
  const signup = document.getElementById("signup") as HTMLDivElement;
  const confirmation = document.getElementById("confirmation") as HTMLDivElement;
  const dismiss = document.getElementById("dismiss") as HTMLButtonElement;

  email?.addEventListener("focus", () => {
    if (errorState) {
      errorLabel.classList.add("hidden");
      email.classList.remove(
        "bg-theme-tomato-transparent",
        "text-theme-tomato",
        "border-theme-tomato",
      );
      email.value = "";
    }
  });

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);
    const { data } = await actions.newsletter(formData);

    if (data) {
      (document.getElementById("emailresponse") as HTMLSpanElement).innerHTML = email.value;
      signup.classList.add("hidden");
      signup.classList.remove("md:flex");
      confirmation.classList.add("md:flex");
      confirmation.classList.remove("hidden");
    }

    errorState = true;
    errorLabel.classList.remove("hidden");
    email.classList.add("bg-theme-tomato-transparent", "text-theme-tomato", "border-theme-tomato");
  });

  dismiss?.addEventListener("click", () => {
    errorLabel.classList.add("hidden");
    email.classList.remove(
      "bg-theme-tomato-transparent",
      "text-theme-tomato",
      "border-theme-tomato",
    );
    email.value = "";
    signup.classList.add("md:flex");
    signup.classList.remove("hidden");
    confirmation.classList.add("hidden");
    confirmation.classList.remove("md:flex");
  });
</script>
