---
import MainLayout from "@/layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";

import illustration from "@/assets/illustration-sign-up-mobile.svg";
import iconList from "@/assets/icon-list.svg";
---

<MainLayout title="Frontend Mentor | Newsletter Sign Up">
  <div class="bg-sad-white h-[840px] w-[375px]">
    <div>
      <Image src={illustration} alt={"Sign Up"} loading={"eager"} />
    </div>
    <section class="mx-7 my-7">
      <h1 class="text-sad-dark-slate-grey mb-3 text-[2.5rem] font-bold">
        Stay updated!
      </h1>
      <p class="text-sad-dark-slate-grey mb-7">
        Join 60,000+ product managers receiving monthly updates on:
      </p>
      <div
        class="items-top text-sad-dark-slate-grey mb-10 grid grid-cols-[10%,90%] gap-2"
      >
        <Image src={iconList} alt={"Checkmark"} loading={"eager"} />
        <p>Product discovery and building what matters</p>
        <Image src={iconList} alt={"Checkmark"} loading={"eager"} />
        <p>Measuring to ensure updates are a success</p>
        <Image src={iconList} alt={"Checkmark"} loading={"eager"} />
        <p>And much more!</p>
      </div>
      <form>
        <div class="flex flex-col">
          <label
            for="email"
            class="text-sad-dark-slate-grey mb-3 text-xs font-bold"
            >Email address</label
          >
          <input
            type="email"
            name="email"
            class="border-sad-grey text-sad-grey h-14 rounded-lg border px-6 py-4"
            title="email@company.com"
          />
        </div>
        <button>Subscribe to monthly newsletter</button>
      </form>
    </section>
  </div>
</MainLayout>
