---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="Frontend Mentor | Newsletter Sign Up"
  description="A newsletter sign up challenge from Frontend Mentor."
>
  <!-- TW Safelist -->
  <div class="bg-theme-tomato-transparent hidden"></div>
  <!-- TW Safelist -->

  <main class="flex min-h-screen items-center justify-center">
    <div
      class="bg-theme-white h-[840px] w-[375px] md:flex md:h-[640px] md:w-[920px] md:flex-row-reverse md:items-center md:justify-center md:gap-4 md:rounded-[2.5rem]"
      id="signup"
    >
      <div class="md:w-1/2">
        <img
          src="/illustration-sign-up-mobile.svg"
          alt="Sign Up"
          class="md:hidden"
        />
        <img
          src="/illustration-sign-up-desktop.svg"
          alt="Sign Up"
          class="hidden md:block"
        />
      </div>
      <section class="mx-7 my-7 md:w-1/2 md:px-8">
        <h1
          class="text-theme-dark-slate-gray mb-3 text-[2.5rem] font-bold md:text-[3.5rem]"
        >
          Stay updated!
        </h1>
        <p class="text-theme-dark-slate-gray mb-7">
          Join 60,000+ product managers receiving monthly updates on:
        </p>
        <div
          class="items-top text-theme-dark-slate-gray mb-10 grid grid-cols-[10%_90%] gap-2"
        >
          <img src="/icon-list.svg" alt="Checkmark" />
          <p>Product discovery and building what matters</p>
          <img src="/icon-list.svg" alt="Checkmark" />
          <p>Measuring to ensure updates are a success</p>
          <img src="/icon-list.svg" alt="Checkmark" />
          <p>And much more!</p>
        </div>
        <form novalidate id="form">
          <div class="mb-6 flex flex-col">
            <div class="flex justify-between">
              <label
                for="email"
                class="text-theme-dark-slate-gray mb-3 text-xs font-bold"
                >Email address</label
              >
              <label
                id="errormessage"
                for="email"
                class="text-theme-tomato mb-3 hidden text-xs font-bold"
                >Valid email required</label
              >
            </div>
            <input
              id="email"
              type="email"
              name="email"
              class="text-theme-gray h-14 rounded-lg border border-gray-300 px-6 py-4"
              placeholder="email@company.com"
              autocomplete="off"
            />
          </div>
          <button
            type="submit"
            class="hover:from-theme-tomato bg-theme-dark-slate-gray text-theme-white hover:text-theme-white h-14 w-full rounded-lg border hover:border-none hover:bg-linear-to-l hover:to-rose-400 hover:shadow-lg hover:shadow-rose-300"
            >Subscribe to monthly newsletter</button
          >
        </form>
      </section>
    </div>
    <div
      class="bg-theme-white hidden h-[810px] w-[375px] md:h-[510px] md:w-[500px] md:rounded-[2.5rem]"
      id="confirmation"
    >
      <div class="mx-6 mt-36 md:mx-12 md:my-12">
        <img src="/icon-success.svg" alt="Success!" class="mb-8" />
        <section>
          <h2
            class="text-theme-dark-slate-gray mb-6 text-[2.5rem] leading-none font-bold md:text-[3.5rem]"
          >
            Thanks for subscribing!
          </h2>
          <p class="text-theme-dark-slate-gray mb-[17.3rem] md:mb-12">
            A confirmation email has been sent to <span
              id="emailresponse"
              class="font-bold"></span>. Please open it and click the button
            inside to confirm your subscription
          </p>
          <button
            id="dismiss"
            class="hover:from-theme-tomato bg-theme-dark-slate-gray text-theme-white hover:text-theme-white h-14 w-full rounded-lg border hover:border-none hover:bg-linear-to-l hover:to-rose-400 hover:shadow-lg hover:shadow-rose-300"
            >Dismiss message</button
          >
        </section>
      </div>
    </div>
  </main>
</MainLayout>

<script>
  import { actions } from "astro:actions";

  let errorState: boolean = false;

  const form = document.getElementById("form") as HTMLFormElement;
  const errorLabel = document.getElementById(
    "errormessage",
  ) as HTMLLabelElement;
  const email = document.getElementById("email") as HTMLInputElement;
  const signup = document.getElementById("signup") as HTMLDivElement;
  const confirmation = document.getElementById(
    "confirmation",
  ) as HTMLDivElement;
  const dismiss = document.getElementById("dismiss") as HTMLButtonElement;

  email?.addEventListener("focus", () => {
    if (errorState) {
      errorLabel.classList.add("hidden");
      email.classList.remove(
        "bg-theme-tomato-transparent",
        "text-theme-tomato",
        "border-theme-tomato",
      );
      email.value = "";
    }
  });

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);
    const { data } = await actions.newsletter(formData);

    if (data) {
      (document.getElementById("emailresponse") as HTMLSpanElement).innerHTML =
        email.value;
      signup.classList.add("hidden");
      signup.classList.remove("md:flex");
      confirmation.classList.add("md:flex");
      confirmation.classList.remove("hidden");
    }

    errorState = true;
    errorLabel.classList.remove("hidden");
    email.classList.add(
      "bg-theme-tomato-transparent",
      "text-theme-tomato",
      "border-theme-tomato",
    );
  });

  dismiss?.addEventListener("click", () => {
    errorLabel.classList.add("hidden");
    email.classList.remove(
      "bg-theme-tomato-transparent",
      "text-theme-tomato",
      "border-theme-tomato",
    );
    email.value = "";
    signup.classList.add("md:flex");
    signup.classList.remove("hidden");
    confirmation.classList.add("hidden");
    confirmation.classList.remove("md:flex");
  });
</script>
